{% extends 'wrapper.html' %}


<style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    .profile-pic {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">My Profile</li>
        </ol>
    </nav>


    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <a class="btn btn-warning" href="{% url 'dashboard' %}"> &#8592; Back to Profile</a>
                <hr>
                <h3 style="text-align: center">Account Settings</h3>
                <hr>
                <img class="profile-pic" src="{{request.user.account.profile_image.url}}">

            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                <div class="col-md-4">
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit profile</a>
                </div>
                <div class="row">
                    <h5>Username - {{request.user.username}}<br>
                    Email - {{request.user.account.email}}<br>
                    Username - {{request.user.account.phone}}</h5>
                </div>
            </div>
        </div>
    </div>


</div>


{% block content %}
<div class="intro-y flex items-center mt-8">
                    <h2 class="text-lg font-medium mr-auto">
                        Profile Layout
                    </h2>
                </div>
                <!-- BEGIN: Profile Info -->
                <div class="intro-y box px-5 pt-5 mt-5">
                    <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
                        <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                            <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                                <img alt="Midone - HTML Admin Template" class="rounded-full" src="{{request.user.account.profile_image.url}}">
                            </div>
                            <div class="ml-5">
                                <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">{{request.user.first_name}} {{request.user.last_name}}</div>
                                <div class="text-slate-500">Last Login - <br> {{request.user.account.last_login}}</div>
                            </div>
                        </div>
                        <div class="mt-6 lg:mt-0 flex-1 px-5 border-l border-r border-slate-200/60 dark:border-darkmode-400 border-t lg:border-t-0 pt-5 lg:pt-0">
                            <div class="font-medium text-center lg:text-left lg:mt-3">Contract Details</div>
                            <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                                <div class="truncate sm:whitespace-normal flex items-center"> <i data-lucide="" class="w-4 h-4 mr-2"></i> Username - {{request.user.username}}</div>
                                <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="" class="w-4 h-4 mr-2"></i>Email - {{request.user.account.email}} </div>
                                <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="" class="w-4 h-4 mr-2"></i>Phone - {{request.user.account.phone}} </div>
                                <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="" class="w-4 h-4 mr-2"></i>Address - {{request.user.account.address}} </div>
                                <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-lucide="" class="w-4 h-4 mr-2"></i>Date Joined - {{request.user.account.date_joined}} </div>
                            </div>
                        </div>

                    </div>
                    <ul class="nav nav-link-tabs flex-col sm:flex-row justify-center lg:justify-start text-center" role="tablist" >
                        <li id="settings-tab" class="nav-item" role="presentation">
                            <a href="{% url 'edit_profile' %}" class="nav-link py-4 flex items-center" aria-selected="false" role="tab" > <i class="w-4 h-4 mr-2" data-lucide="settings"></i> Account Settings </a>
                        </li>
                    </ul>
                </div>

{% endblock content %}