{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'leaves'%}">Leaves</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Leaves</li>
    </ol>
  </nav>

 <div class="card">
    <div class="card-body">
      <form action="{% url 'add-expenses' %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">Amount</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="amount"
            value="{{values.amount}}"
          />
        </div>