{% extends 'base.html' %}

{% block content %}
    <h1>My Leaves</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for leave in user_leaves %}
                <tr>
                    <th scope="row">{{ leave.id }}</th>
                    <td>{{ leave.leave_type }}</td>
                    <td>{{ leave.from_date }}</td>
                    <td>{{ leave.to_date }}</td>
                    <td>{{ leave.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

