{% extends 'wrapper.html' %}


    <h1>My Leaves</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for leave in user_leaves %}
                <tr>
                    <th scope="row">{{ leave.id }}</th>
                    <td>{{ leave.leave_type }}</td>
                    <td>{{ leave.from_date }}</td>
                    <td>{{ leave.to_date }}</td>
                    <td>{{ leave.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% block content %}
<div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap xl:flex-nowrap items-center mt-2">
            <h2 class="intro-y text-lg font-medium mr-2">
                View Leaves
            </h2>
            <div class="hidden xl:block mx-auto text-slate-500">View Leave Details</div>
            <div class="w-full xl:w-auto flex items-center mt-3 xl:mt-0">
                <div class="w-56 relative text-slate-500">
                    <input type="text" class="form-control w-56 box pr-10" placeholder="Search...">
                    <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-lucide="search"></i>
                </div>
                <div class="dropdown ml-2">
                    <button class="dropdown-toggle btn px-2 box" aria-expanded="false" data-tw-toggle="dropdown">
                        <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4"
                                                                                   data-lucide="plus"></i> </span>
                    </button>
                    <div class="dropdown-menu w-40">
                        <ul class="dropdown-content">
                            <li>
                                <a href="" class="dropdown-item"> <i data-lucide="printer" class="w-4 h-4 mr-2"></i>
                                    Print </a>
                            </li>
                            <li>
                                <a href="" class="dropdown-item"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i>
                                    Export to Excel </a>
                            </li>
                            <li>
                                <a href="" class="dropdown-item"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i>
                                    Export to PDF </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <select class="w-56 xl:w-auto form-select box ml-2">
                    <option>Status</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </div>
        </div>
        <!-- BEGIN: Data List -->
        <div class="intro-y col-span-12 overflow-auto 2xl:overflow-visible">
            <table class="table table-report -mt-2">
                <thead>
                <tr>
                    <th class="whitespace-nowrap">
                        <input class="form-check-input" type="checkbox">
                    </th>
                    <th class="text-center whitespace-nowrap">Type</th>
                    <th class="text-center whitespace-nowrap">Start Date</th>
                    <th class="text-center whitespace-nowrap">End Date</th>
                    <th class="text-center whitespace-nowrap">Leave Status</th>
                </tr>
                </thead>
                <tbody>
                {% for leave in user_leaves %}
                <tr class="intro-x">
                    <td class="w-10">
                        <input class="form-check-input" type="checkbox">
                    </td>
                    <td class="text-left">{{ leave.leave_type }}</td>
                    <td class="text-left">{{ leave.from_date }}</td>
                    <td class="text-left">{{ leave.to_date }}</td>
                    <td class="w-40">
                        {% if leave.status == 'requested' %}
                        <div class="flex items-center justify-center text-success"><i data-lucide="send"
                                                                                      class="w-4 h-4 mr-2"></i>
                            Requested
                        </div>
                        {% else %}
                        <div class="flex items-center justify-center text-success"><i data-lucide="check-square"
                                                                                      class="w-4 h-4 mr-2"></i>
                            Approved
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- END: Data List -->

        <!-- BEGIN: Pagination -->
        <!-- END: Pagination -->

    </div>
{% endblock content %}
